* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: rgb(42, 116, 165);
    background-image: linear-gradient( to top ,rgb(191, 191, 247) , rgb(248, 248, 191), rgb(241, 212, 221), rgb(199, 166, 199));
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.box i {
  border: 1px solid white;
  border-radius: 4px;
  height: 60px;
  width: 60px;
  color: teal;
  font-size: 2rem;
  padding: auto;
  background-color: white;
  display: inline-block;
  transition:transform 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
i:hover {
    transform: rotate(360deg);
    border-radius: 50%;
    transform: rotate(360deg);
}
h4 {
    color: rgb(209, 184, 184);
    text-shadow: 6px 4px 5px green;
}
h1 {
    color: rgb(233, 197, 197);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 5%;
    text-shadow: 5px 4px 3px green;
}