* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: brown;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.box i {
  border: 1px solid white;
  border-radius: 4px;
  height: 50px;
  width: 50px;
  color: teal;
  font-size: 2rem;
  padding: auto;
  background-color: white;
  display: inline-block;
  transition:transform 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
i:hover {
    transform: rotate(360deg);
}
h3 {
    color: white;
}
h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 5%;
}