
#head{
    background-image: url("./Harry-Potter-Movies-in-Order.avif");

}
.gence {
    color: rgb(109, 128, 128);
}
.ad {
    color: red;
}
.hed {
    color: yellowgreen;
}
.parag {
    color: blue;
}
.span {
    color: orangered;
}
.head1 {
    color: yellowgreen;
}
.span1 {
    color: blue;
}
.span2 {
    color: orangered
}