%primary-btn {
  background: transparent;
  border: 1px solid grey;
  color: white;
}
%second-btn {
  width: 73px;
  height: 32px;
  background-color: white;
  color: $p-sup-color;
  border-radius: 30px;
  border: none;
  
}
