*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.color {
    background-color: black;
    color: green;
    position: sticky;
    top: 0;
}
.text {
    background-color: rgb(250, 235, 235);
    padding: 10px 20px;
}
body {
    height: 300vh;
}