.footer {
  width: 100%;
  @include flex("space-between", "center");
  .div-left {
    width: 50%;
    padding-top: 60px;
    @include flex("space-between", "center");
    div {
      margin: auto auto;
      h2 {
        font-size: 2rem;
        color: $second-color;
      }
      li {
        color: $third-color;
        font-size: 2rem;
        a {
          font-size: 1.5rem;
          text-decoration: none;
          color: $second-color;
        }
      }
    }
  }
}
.div-right {
  width: 50%;
  padding-top: 60px;
  @include flex("space-between", "center");
  div {
    margin: auto auto;
    h2 {
      font-size: 3rem;
      color: $second-color;
    }
    li {
      font-size: 2rem;
      color: $third-color;
      a {
        font-size: 1.5rem;
        text-decoration: none;
        color: $second-color;
      }
    }
    i {
      font-size: 20px;
      background-color: $third-color;
      border-radius: 50%;
      padding: 15px;
      color: white;
      &:hover {
        transform: rotate(360deg);
        transition: all 1s;
        border: 1px solid white;
        cursor: pointer;
      }
    }
  }
}
body {
  background-color: $primary-background-color;
}
footer {
  height: 80vh;
}
.text {
  height: 20vh;
  @include flex("space-between", "flex-end");
  .div1 {
    float: left;
    margin: auto;
    padding: auto;
  }
  .div2 {
    float: right;
    margin: auto;
    padding: auto;
    span {
      margin: 0 20px;
    }
  }
}
