html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none;
}

h1 {
  font-size: 58px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

.banner-section .banner-container .learnMore, .banner-section .banner-container .getQuoe {
  width: 155px;
  height: 48px;
  border-radius: 37px;
  padding: 10px 36px;
  border: 1px solid #784f33;
  color: #784f33;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}
.banner-section .banner-container .learnMore:hover, .banner-section .banner-container .getQuoe:hover {
  transform: scale(1.1);
}

header .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .div-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
header .container .div-left h3 {
  color: #252B42;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
}
header .container .div-left nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
header .container .div-left nav ul li a {
  color: #737373;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.bg-section-image {
  background-image: url("../images/cover.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-section .banner-container {
  display: flex;
  flex-direction: column;
}
.banner-section .banner-container .banner-h1 {
  margin-top: 8%;
  margin-left: 10%;
}
.banner-section .banner-container .banner-h1 h1 {
  color: #252B42;
  font-size: 58px;
  font-weight: 900;
  line-height: 65px;
  letter-spacing: 0.2px;
}
.banner-section .banner-container .banner-h4 {
  margin-top: 3%;
  margin-left: 10%;
}
.banner-section .banner-container .banner-h4 h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}
.banner-section .banner-container .getQuoe {
  background-color: #784f33;
  color: white;
  width: 200px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10px;
}
.info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 60px;
}
.info-text .icon-info h3 {
  font-weight: 700;
  color: #252B42;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.info-text .icon-info p {
  color: #737373;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.info-text .info {
  transition: 0.2s;
  padding: 35px 40px;
  background: #295c7a;
}
.info-text .info.img {
  background-color: white;
}
.info-text .info:hover {
  transform: scale(1.1);
  box-shadow: 4px 2px 3px rgb(46, 43, 43);
}

#clientMatters {
  background: #fafafa;
}
#clientMatters .clientMatters .div-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#clientMatters .clientMatters .div-top h2 {
  color: #252B42;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2;
  text-align: center;
  margin-top: 10%;
}
#clientMatters .clientMatters .div-top p {
  margin-top: 2%;
  color: #737373;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
}
#clientMatters .clientMatters .div-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#clientMatters .clientMatters .div-bottom .ikon-number-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  width: 14%;
  background-color: white;
  padding: 30px 40px;
  margin-bottom: 50px;
  transition: 0.3s;
}
#clientMatters .clientMatters .div-bottom .ikon-number-text:hover {
  transform: scale(1.1);
  box-shadow: 3px 2px 3px rgb(46, 35, 35);
}

#video-text .video-text .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#video-text .video-text .bottom .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#video-text .video-text .bottom .text .ikon-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#video-text .video-text .bottom .div-foto-video {
  width: 50%;
}
#video-text .video-text .bottom .div-foto-video img {
  height: 50%;
}
#video-text .video-text .bottom .text {
  width: 50%;
}
#video-text .video-text .div-top div h2 {
  color: #252B42;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2;
  text-align: center;
  margin-top: 10%;
}
#video-text .video-text .div-top div p {
  margin-top: 2%;
  color: #737373;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
}

#images {
  background: #fafafa;
}
#images .images-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  gap: 2.5rem;
}
#images .images-6 div img {
  align-items: center;
  padding: auto;
  margin: 30px;
}/*# sourceMappingURL=main.css.map */